<?xml version="1.0" encoding="utf-8" ?>
<root>
  <item name="aimldirectory" value="aiml"/>
  <item name="configdirectory" value="config"/>
  <item name="logdirectory" value="logs"/>
  <item name="splittersfile" value="Splitters.xml"/>
  <item name="person2substitutionsfile" value="Person2Substitutions.xml"/>
  <item name="personsubstitutionsfile" value="PersonSubstitutions.xml"/>
  <item name="gendersubstitutionsfile" value="GenderSubstitutions.xml"/>
  <item name="defaultpredicates" value="DefaultPredicates.xml"/>
  <item name="substitutionsfile" value="Substitutions.xml"/>
  <item name="maxlogbuffersize" value="64"/>
  <item name="notacceptinguserinputmessage" value="W tej chwili nie ma możliwości odpytania serwera."/>
  <item name="stripperregex" value="[^0-9a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ$|*_.]"/>

  <item name="culture" value="pl-pl"/>
  <item name="islogging" value="True"/>
  <item name="timeout" value="50000"/>
</root>