<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Cindalnet.SQLBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="Cindalnet.SQLBot.Properties.Settings.cdn_tramwajeConnectionString"
        connectionString="Data Source=FILIPBE\CINDALNET;Initial Catalog=cdn_tramwaje;User ID=sa;Password=cdn_sql"
        providerName="System.Data.SqlClient" />
    <add name="Cindalnet.SQLBot.Properties.Settings.BazaRelacyjnaConnectionString"
        connectionString="Data Source=FILIPBE\CINDALNET;Initial Catalog=BazaRelacyjna;User ID=sa;Password=sql"
        providerName="System.Data.SqlClient" />
    <add name="Cindalnet.SQLBot.Properties.Settings.BazaRelacyjnaConnectionStringLocal"
        connectionString="Data Source=(localdb)\v11.0;Initial Catalog=BazaRelacyjna;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Cindalnet.SQLBot.Properties.Settings>
            <setting name="BazaRelacyjnaCustomConnectionString" serializeAs="String">
                <value>Data Source=FILIPBE\CINDALNET;Initial Catalog=BazaRelacyjna;User ID=sa;Password=sql</value>
            </setting>
        </Cindalnet.SQLBot.Properties.Settings>
    </userSettings>
</configuration>
